.todo-app-form{
    display: flex;
    justify-content: center; 
}
.todo-app-form .form{
    width: 30vw;
}

input {
    margin: 10px;
    padding: 5px 10px;
    font-size: 20px;
}

.form{
    font-size: 20px;
}

.form button {
    padding: 3px 10px;
    text-transform: uppercase;
    margin: 20px;
    font-size: 20px;
}