#todo {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #todo td, #todo th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #todo tr:nth-child(even){background-color: #f2f2f2;}
  
  #todo tr:hover {background-color: #ddd;}
  
  #todo tr:first-of-type {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  button{
    cursor: pointer;
    background-color: #fff;
    padding: 7px 25px;
    border: 1px solid grey;
    margin-left: 5px;
  }

  #todo th em{
    font-size: 10px;
  }